@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    /*header and footer*/
    --azul: rgb(18, 42, 178);
    --azulClaro: rgb(44, 112, 255);

    /*Titles and Texts*/
    --cinzaEscuro: rgb(34, 34, 34);
    --cinza: rgb(124, 124, 124);
    --cinzaClaro: rgb(164, 164, 164);

    /*Backgrounds*/
    --cinzaMuitoClaro: rgb(247, 247, 247);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.info-bg {
    background-color: var(--azul);
}

.menu-bg {
    background-color: var(--azulClaro);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 960px;
    padding: 15px 0;
    margin: 0 auto;
}

.info a {
    color: white;
    text-decoration: none;
}

.menu > a {
    color: white;
    text-decoration: none;
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu ul a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    margin: 0 10px;
}

.menu ul a:hover {
    color: var(--azul);
}

main h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--cinzaEscuro);
    padding: 60px 10px;
    line-height: 1em;
    max-width: 960px;
    margin: 0 auto;
}

hr {
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid var(--azul);
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 60px auto;
}

.sobre-text {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-text h2 {
    font-size: 3em;
    font-weight: bold;
    color: var(--cinzaEscuro);
    margin-bottom: 24px;
}

.sobre-text p {
    font-size: 1.25em;
    color: var(--cinza);
    margin-bottom: 20px;
    line-height: 1.5em;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

.sobre-img img {
    max-width: 100%;
}

.produtos {
    max-width: 960px;
    margin: 60px auto;
}

.produtos h2 {
    font-size: 3em;
    font-weight: bold;
    color: var(--cinzaEscuro);
    margin-bottom: 60px;
}

.produtos-img {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-img h3 {
    font-size: 3em;
    font-weight: bold;
    color: var(--cinzaClaro);
    background-color: var(--cinzaMuitoClaro);
    padding: 60px 20px;
}

.produtos-img-purple {
    flex: 1 1 175px;
    margin: 10px;
    border-top: 10px solid #ae81ff;
}

.produtos-img-pink {
    flex: 1 1 175px;
    margin: 10px;
    border-top: 10px solid #f9265e;
}

.produtos-img-blue {
    flex: 1 1 175px;
    margin: 10px;
    border-top: 10px solid #66d9eb;
}

.produtos-img div img {
    max-width: 100%;
}

.planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--cinzaMuitoClaro);
    padding: 60px;
}

.planos div {
    flex: 1;
    border: 5px solid white;
    margin: 10px;
    padding: 20px;
}

.planos div h3 {
    max-width: 300px;
    font-size: 3em;
    font-weight: bold;
    color: var(--cinzaClaro);
    text-align: center;
    border-bottom: 5px solid white;
    margin: 0 auto;
    padding-bottom: 20px;
}

.planos div p {
    max-width: 300px;
    font-size: 3em;
    font-weight: bold;
    color: var(--cinzaEscuro);
    text-align: center;
    border-bottom: 5px solid white;
    margin: 0 auto;
    padding: 20px 0;
}

.planos div sup {
    font-size: 1.5rem;
}

.planos div ul {
    max-width: 300px;
    list-style: none;
    font-size: 1.25em;
    font-style: italic;
    color: var(--cinza);
    line-height: 2em;
    margin: 0 auto;
    padding: 20px 0;
}

.planos div ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planos div ul li::after {
    content: '';
    display: block;
    background-color: #2c70ff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.planos div a {
    max-width: 300px;
    display: block;
    font-size: 2.25em;
    font-weight: bold;
    color: var(--cinzaEscuro);
    text-decoration: none;
    text-align: center;
    border: 5px solid var(--cinzaEscuro);
    margin: 0 auto;
    padding: 15px;
}