@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    /*header and footer*/
    --azul: rgb(18, 42, 178);
    --azulClaro: rgb(44, 112, 255);

    /*Titles and Texts*/
    --cinzaEscuro: rgb(34, 34, 34);
    --cinza: rgb(124, 124, 124);
    --cinzaClaro: rgb(164, 164, 164);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.info-bg {
    background-color: var(--azul);
}

.menu-bg {
    background-color: var(--azulClaro);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 960px;
    padding: 15px 0;
    margin: 0 auto;
}

.info a {
    color: white;
    text-decoration: none;
}

.menu > a {
    color: white;
    text-decoration: none;
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu ul a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    margin: 0 10px;
}

.menu ul a:hover {
    color: var(--azul);
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

main h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--cinzaEscuro);
    margin: 0 10px 60px;
    line-height: 1em;
}

main h2 {
    font-size: 3em;
    font-weight: bold;
    color: var(--cinzaEscuro);
    margin: 0 10px 24px;
}

main p {
    font-size: 1.25em;
    color: var(--cinza);
    margin: 0 10px 20px;
    line-height: 1.5em;
}

hr {
    border: 1px solid var(--azul);
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.sobre-text {
    flex: 1 1 300px;
    text-align: justify;

}